[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/AngeloStavrow/indigo.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/contentful"]
	path = themes/contentful
	url = https://github.com/foo-dogsquared/hugo-theme-contentful
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/foo-dogsquared/hugo-theme-arch-terminal.git
