<br/>
<hr>
<br/>
<script id="webmention-hosted">
    (function () {
    var sn = document.createElement("script"), s = document.getElementsByTagName("script")[0], url;
    url = document.querySelectorAll ? document.querySelectorAll("link[rel~=canonical]") : false;
    url = url && url[0] ? url[0].href : false;
    sn.type = "text/javascript"; sn.async = true;
    sn.src = "//webmention.herokuapp.com/api/embed?url=" + encodeURIComponent(url || window.location);
    s.parentNode.insertBefore(sn, s);
    }());
    </script>
<footer>
    <ul>
        <li class="footernav">
            <a href="{{ $.Site.BaseURL }}">{{ i18n "back_to_home" }}</a>
        </li>
    </ul>
</footer>
<p class="copyright">{{ with $.Site.Copyright }}{{ . | markdownify }}{{ else }}© {{ now.Year }} {{ with $.Site.Author.name }}{{ . }}{{ else }}{{ $.Site.Title }}{{ end }}{{ end }}</p>
<p class="h-card vcard" style="display:none;">
    <img class="u-photo" src="/images/petersell.jpg" />
    <a class="u-url p-author p-name url" href="https://www.petersell.com" rel="me">Andreas Petersell</a>
    <p class="p-note">DITA Writer and European from <span class="p-locality">Berlin</span>, <span class="p-country-name">Germany</span></p>
</p>