<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://twitter.com/petersell" rel="me" class="u-url"/>
<link href="https://github.com/petersell" rel="me" class="u-url"/>
<link href="https://www.petersell.com/photos/" rel="me" class="u-url"/>
<link href="https://mastodon.social/@diagonale" rel="me" class="u-url"/>
<link href="https://www.petersell.de" rel="me" class="u-url"/>
<link href="https://pixelfed.de/putbus" rel="me" class="u-url"/>
<title>{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
<link rel="stylesheet" href="{{"css/main.css" | absURL }}" />