<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{- partial "head.html" . -}}
    <body>
        <header>
            <nav>
                <ul>
                {{ range $.Site.Menus.main -}}
                <li class="nav-list"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                {{ end }}
                </ul>
            </nav>
            <h1 class="logo"><img src={{ "petersell-logo.png" | absURL }}>&nbsp;{{ $.Site.Title }}</h1> 
        </header>
        
        <main>
            <!-- title and author added to status post again -->
            <h3 class="status-title"><div class="h-entry">{{ .Title }}</div></h3>
            <p class="author"><span class="p-author h-card">{{ with .Params.author }}{{ . }}</span>&nbsp;am{{ end }} <date datetime="{{ .Date.Format "02.01.2006" }}">{{ .Date.Format "02.01.2006" }}</date></p>
            <p><a target="_blank" href="https://{{ .Page.Params.Dnb }}">{{ .Page.Params.Dnb }}</a> - Link zum Quellennachweis eines Bibliothekskatalogs.</p>
            {{ if .IsTranslated }}
            <div>
            {{ i18n "available_translations" }}: 
            {{ range .Translations }}
            <a href="{{ .Permalink }}">{{ .Lang }}</a>
            {{ end }}
            </div>
            {{ end }}
            {{ if .Params.signaturen }}
            <ul class="article-tags">
                {{ range .Params.signaturen }}
                    <li><a href="{{ "signaturen/" | absURL }}{{ . }}">{{ . }}</a> - Auflistung der Zettel und Posts, die diese Quelle erwähnen.</li>
                {{ end }}
            </ul>
            {{ end }}   
                    
            <article>
            {{ .Content }}
            </article>    
            </main>

        {{- partial "footer.html" . -}}
    </body>
</html>


