---
author: Andreas Petersell
title: Pixelfed 2024
date: 2024-01-01
draft: false
categories:
  - fotos
tags:
  - pixelfed
description: Fotos aus dem Jahr 2024 - eingebunden aus Pixelfed
---

Fotos der Saison. Dateiname ändern!
<!--more-->

<iframe title="Pixelfed Post Embed" src="https://pixelfed.de/p/putbus/764912681291388087/embed?caption=true&likes=true&layout=full" class="pixelfed__embed" style="max-width: 100%; border: 0" width="400" allowfullscreen="allowfullscreen"></iframe><script async defer src="https://pixelfed.de/embed.js"></script>